<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css\style.css">
    <title>Document</title>
</head>

<body>
    <section class="sub-header">
        
        <nav>
            <a href="index.hbs"><img src="images/logo-removebg-preview.png" alt="LOGO" height="100px"
                    width="100px"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="/index">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/course">COURSE</a></li>
                    {{!-- <li><a href="blog">BLOG</a></li> --}}
                    <li><a href="/contact">CONTACT</a></li>
                    <li><a href="admission">APPLY NOW</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <h1>About Us</h1>
    </section>

    <section class="about-us">
        <div class="row">
            <div class="about-col">
                <h1>We are the woeld's largest university</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit S.imilique voluptate aut quam quia inventore
                    eligendi suscipit dolorem sint, ipsa quas praesentium debitis dicta, temporibus consequatur.
                </p>
                <a href="" class="hero-btn red-btn">Explore Now</a>
            </div>
            <div class="about-col">
                <img src="images/about.jpg" alt="">
            </div>
        </div>



        {{>footer}}

        <script src="../jq/jquery.js" type="text/javascript"></script>
        <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>

</html>