<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!--
    <link rel="stylesheet" href="../css/bootstrap.min.css"> --}}
    <link rel="stylesheet" href="css\style.css">
    <title>Document</title>
</head>

<body>

    <section class="header">
        <nav>
            {{!-- <a href="index.hbs"> --}}
                <img src="images/logo-removebg-preview.png" alt="LOGO" height="100px" width="100px">
                {{!-- </a> --}}
            <div class="nav-links" id="navLinks" >
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/course">Course</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="admission">Apply Now</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <div class="text-box">
            <h1>Lets Explore BMU</h1>
            <a href="" class="hero-btn">Visit us to know More</a>
        </div>
    </section>



</body>

</html>
